html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.wrapper {
    background: #1c1c1c;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 20px;
}


button {
    height: 100px;
    width: 100px;
    font-size: 48px;
    border-radius: 30px;
}

.resultContainer {
    font-size: 2rem;
    text-align: center;        
    margin-top: 20px;
}



